@import url(./normalize.css);
@import url(./fonts.css);
@import url(./settings.css);
body {
    $active-color: #ffc001 !global;
}
header {
    background-color: #494646;
    background-image: url(../media/bg-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: OpenSans, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    .container {
        flex-direction: column;
    }
    a {
        font-family: inherit;
        color: inherit;
        padding: 10px;
        text-transform: uppercase;
        i {
            font-size: 15px;
            font-weight: 200;
        }
    }
    .upper-nav,
    .lower-nav,
    .social,
    .login,
    .login div,
    .main-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .upper-nav {
        min-height: 50px;
        align-items:center ;
    }
    .social{
        max-width: 190px;
        width: 100%;
    }
    .lower-nav {
        min-height: 95px;
        align-items: center;
    }
    nav,
    .main-nav,
    .login {
        max-width: 470px;
        width:100%;
    }
    .login-btn {
        position: relative;
        &:after {
            content: " ";
            position: absolute;
            height: 20px;
            width: 2px;
            background-color: $active-color;
            top: 5px;
            right: 0;
            z-index: 5;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 77vh;
        max-width: 640px;
        h2 {
            font-family: inherit;
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 40px;
        }
        a {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            color: $active-color;
            padding: 12px 33px;
            border: 1px solid white;
            border-radius: 30px;
            max-width: fit-content;


            &[href^="tel"] {
                font-size: 20px;
                padding: 10px 0;
                margin-bottom: 20px;
                border-color: transparent;
            }
        }
    }

}

.booking-form {
    padding-top: 1px;
    background-color: #fafafa;
    position: relative;
    margin-bottom: 115px;
    .form-header {
        position: absolute;
        top: -44px;
        left: 0;
        border-left: solid 25px $active-color;
        font-size: 1px;
        :nth-child(1),
        :nth-child(2) {
            margin-right: 2px;
        }


    }
    .active-btn,
    .submit-button,
    button,
    input[list],
    input[date],
    label,
    input[placeholder] {
        font-family: OpenSans, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border-color: transparent;
        padding: 12px 22px;

    }
    .active-btn,
    .submit-button {
        background-color: $active-color;
        font-weight: 600;
        color: #fff;
    }
    flex-direction: column;
    .form-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-left: solid 25px $active-color;
        min-height: 190px;
        height: 100%;
        padding-right: 45px;
        position: relative;
        input {
            border: solid 0 transparent;
            padding: 10px 15px;
            text-transform: capitalize;
        }
        .hotel, .tours, .package {
            flex-wrap: wrap;
            justify-content: space-around;
            display: none;
        }
        form {
            width: 100%;
        }
        .active-form {
            display: flex;
        }
        .input-wrapper{
            display: flex;
            flex-direction: column;
        }
        .submit-button {
            background-color: $active-color;
            transform: rotateZ(90deg) translatex(-20%);
            position: absolute;
            top: 50%;
            right: -32px;
            padding: 13px 20px;
            letter-spacing: 2px;
            text-transform: uppercase;

        }

    }
}
.popular-places {
    display: block;
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;


//    &.slick-next.slick-arrow, &.slick-prev.slick-arrow {
//        &:before {
//            display: none !important;
//        }
//
//    }
    h2 {
        font-size: 14px;
        font-weight: 600;
        color: $active-color;
    }
    >p {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 75px;

    }
    .slider-item-wrapper {
        max-width: 30%;
        overflow: hidden;
        position: relative;
    }
    img {
        overflow: hidden;
        object-fit: contain;
        object-position: center;
    }
    .bg-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px 0;
        background-color: beige;
        opacity: .8;
        transition-duration: .4s;
        &:hover {
            padding: 40px 0;
            background-color: $active-color;
            opacity: .8;
//        p {
//
//            }
        }

    }
}
